
body {
    /*background-color: #fff;*/
    /*color: #333;*/
    font-family: "Raleway", Helvetica, sans-serif;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 10% 0;
}

a {
    /*color: #c0c0c0;*/
    /*text-decoration: none;*/
}

a:hover {
    color: #141c23;
}

.home {
    text-align: center;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

#footer a, #footer a:link, #footer a:hover, #footer a:active {
    color: #e0e0e0;
    text-decoration: none;
}